<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web Demo</title>
    <link rel="stylesheet" href="~/css/demo.css" asp-append-version="true" />
    <script src="~/js/demo.js" asp-append-version="true"></script>
</head>
<body>
    @RenderBody()
</body>
</html>