@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

DataSource:
<br />
<a href="Viewer/ITypedList">ITypedList</a>
<br />
<a href="Viewer/IEnumerable">IEnumerable</a>
<br />
<br />
BusinessObject:
<br />
<a href="Viewer/ITypedList_BO">ITypedList</a>
<br />
<a href="Viewer/IEnumerable_BO">IEnumerable</a>
